.venv
./.venv
env/
venv/
ENV/
env.bak
venv.bak/
tmp/
target/
.python-version
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST
*.bundle.*
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
__pycache__/
*.py[cod]
*$py.class
*.xml
*.iml
*.idea